@import "../footer", "../navbar", "../../variables", "../../mixins";

.main__company-logos {
  background-color: $darkBg;
  display: flex;
  overflow: auto;
  padding: 4rem 3rem;
  gap: 3rem;

  .company-logos__row {
    min-width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;

    .company-logo {
      width: calc(50% - 1rem);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.main__features {
  background: url("/assets/images/bg-2.jpg");
  background-size: contain;
  padding: 5rem 0;

  .feature {
    position: relative;
    margin-bottom: 1rem;
  }

  .feature__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include BtnStyle(
      0.9rem 1.1rem,
      $whiteColor,
      bold,
      0.8rem,
      1px solid $lightSecondary,
      transparent
    );
  }
}

.main__advantages {
  background-color: $darkBg;
  padding: 6rem 1rem;

  .advantages__header {
    @include textStyle("Meddon", 2rem, 100, $whiteColor);
    text-align: center;
    margin-bottom: 5rem;
  }

  .advantage {
    @include centerItem;
    flex-direction: column;
  }

  .advantage:not(:last-child) {
    margin-bottom: 4rem;
  }

  .advantage__image {
    width: 25%;
    margin-bottom: 2rem;
  }

  .advantage__title {
    margin-bottom: 0.8rem;
    color: $whiteColor;
  }

  .advantage__description {
    @include textStyle("", 0.8rem, 100, $textColor);
    text-align: center;
    line-height: 2;
  }
}

.main__products {
  background: url("/assets/images/bg-2.jpg");
  background-size: contain;
  padding: 5rem 1.5rem;

  .products__title {
    @include textStyle("Meddon", 1.9rem, 100, $whiteColor);
  }

  .products {
    display: flex;
    margin-top: 3rem;
    gap: 2rem;
    overflow: auto;
  }

  .product {
    min-width: 100%;
  }

  .product__image {
    background-color: $darkBg;
    padding: 3.5rem 1rem;
    position: relative;
  }

  .discount {
    border: 1px solid $lightSecondary;
    @include textStyle("", 0.7rem, 100, $whiteColor);
    padding: 0.3rem 0.6rem;
    border-radius: 15px;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.product__description {
  color: $whiteColor;
  padding: 1.5rem 0.3rem;

  .description__name {
    font-size: 0.9rem;
  }

  .price,
  .price__real-price {
    font-size: 0.8rem;
  }

  .price {
    text-decoration: line-through;
    color: $textColor;
  }

  .stars__star {
    display: inline-block;
    font-size: 1.3rem;
    padding: 0.5rem 0;
  }

  .stars__star::before {
    content: "\2605\2605\2605";
    color: $lightSecondary;
  }

  .stars__star::after {
    content: "\2606\2606";
  }
}
