@import "../variables", "../mixins";

.footer {
  background-color: $lightBg;
  position: relative;
  padding: 10rem 0rem 3rem 0rem;

  .footer__copy-right {
    @include textStyle("", 0.8rem, 100, $whiteColor);
    padding: 2rem 1.5rem;
    line-height: 2;
  }

  .footer__image {
    display: block;
    margin: 0 auto;
  }

  .line {
    width: 100%;
    background-color: #444;
    height: 1px;
  }
}

.footer__lists {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 0 3rem 1.5rem;

  .list {
    width: calc(50% - 2rem);
  }

  a,
  address {
    @include textStyle("", 0.8rem, 100, $textColor);
    text-decoration: none;
    display: inline-block;
    transition: 0.3s color;
    margin-top: 0.7rem;

    &:hover {
      color: $lightSecondary;
    }
  }

  address {
    line-height: 1.5;
  }

  h4 {
    @include textStyle("", 0.9rem, 600, $whiteColor);
    margin-bottom: 1rem;
  }
}

.footer__contact {
  background-color: #0f0f0f;
  padding: 3rem;
  position: absolute;
  bottom: 40rem;
  margin: 0 0.7rem;
  left: 0;

  h2,
  h3 {
    font-family: "Meddon";
    font-size: 1.7rem;
    text-align: center;
  }

  h2 {
    color: $whiteColor;
  }

  h3 {
    color: $darkSecondary;
  }

  .input-wrapper__input,
  .input-wrapper__button {
    width: 100%;
  }

  .input-wrapper__button {
    @include BtnStyle(0.8rem 0, $whiteColor, 500, 0.9rem, 0, #000);
    transition: 0.3s color, 0.3s background-color;

    &:hover {
      background-color: $lightSecondary;
      color: $whiteColor;
    }
  }

  .contact__input-wrapper {
    margin-top: 1.5rem;
  }

  .input-wrapper__input {
    background-color: $darkBg;
    border: 1px solid #444;
    padding: 0.9rem 0 0.9rem 0.9rem;
    outline: none;
    color: $whiteColor;
    transition: 0.3s box-shadow, 0.3s border;

    &:focus {
      border: 1px solid $lightSecondary;
      box-shadow: 0px 0px 10px $lightSecondary;
    }
  }
}
