@import "../footer", "../navbar", "../../variables", "../../mixins",
  "../pageStyles";

.main {
  .main__benefits {
    padding: 3rem 0;
    background-color: $darkBg;

    .benefit {
      padding: 0 3rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1.3rem;
      margin-bottom: 2rem;
    }

    .benefit__image {
      background-color: $lightSecondary;
      padding: 1.4rem 1.5rem;
      border-radius: 50%;
    }

    .benefit__header {
      @include textStyle("", 1rem, 100, $whiteColor);
    }

    .benefit__paragraph {
      @include textStyle("", 0.8rem, 100, $textColor);
      line-height: 2;
    }
  }

  .main__employees {
    padding: 3rem 1.2rem 16rem 1.2rem;
    background-color: $darkBg;

    .employee {
      background-color: $lightBg;
      text-align: center;
      border-radius: 0.2rem;
      overflow: hidden;
      margin-bottom: 2.5rem;
    }

    .employee__picture,
    .person__social a {
      transition: 0.3s transform;
    }

    .employee__picture {
      &:hover {
        transform: translateY(0.1rem);
      }
    }

    .employee__body {
      padding: 2rem;
    }

    .employee__name {
      @include textStyle("", 1rem, 100, $whiteColor);
      margin-bottom: 1rem;
    }
    .employee__desc {
      @include textStyle("", 0.8rem, 100, $textColor);
      line-height: 2;
    }

    .person__social {
      margin-top: 1.2rem;

      a {
        text-decoration: none;
        color: $lightSecondary;
        display: inline-block;

        &:not(:last-child) {
          margin-right: 0.5rem;
        }

        &:hover {
          transform: translateY(0.4rem);
        }
      }
    }
  }

  .main__possibilities {
    padding: 3rem 1.2rem;
    background-color: $lightBg;

    .possibility {
      background-color: $darkBg;
      margin-bottom: 2.5rem;
    }

    .possibility__image {
      position: relative;
    }

    .image__desc {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      span {
        @include textStyle("", 2rem, 600, $whiteColor);
      }

      p {
        @include textStyle("", 0.9rem, 100, $whiteColor);
        margin-top: 1rem;
      }
    }

    .possibility__desc {
      padding: 2rem 1.5rem;
      @include textStyle("", 0.8rem, 100, $textColor);
      line-height: 2;
      text-align: center;
    }
  }
}
